-- 0. Create academic_years table
CREATE TABLE IF NOT EXISTS academic_years (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  year TEXT UNIQUE NOT NULL,
  is_active BOOLEAN DEFAULT false,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Insert default year if not exists
INSERT INTO academic_years (year, is_active) VALUES ('2026-2027', true) ON CONFLICT (year) DO NOTHING;

ALTER TABLE academic_years ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Allow public read access to academic_years" ON academic_years FOR SELECT USING (true);
CREATE POLICY "Allow authenticated users full access to academic_years" ON academic_years FOR ALL TO authenticated USING (true);

-- 1. Alter existing tables to add academic_year
ALTER TABLE classes ADD COLUMN IF NOT EXISTS academic_year TEXT DEFAULT '2026-2027';
ALTER TABLE students ADD COLUMN IF NOT EXISTS academic_year TEXT DEFAULT '2026-2027';
ALTER TABLE attendance ADD COLUMN IF NOT EXISTS academic_year TEXT DEFAULT '2026-2027';
ALTER TABLE pc_issues ADD COLUMN IF NOT EXISTS academic_year TEXT DEFAULT '2026-2027';
ALTER TABLE seating_plans ADD COLUMN IF NOT EXISTS academic_year TEXT DEFAULT '2026-2027';
ALTER TABLE lesson_logs ADD COLUMN IF NOT EXISTS academic_year TEXT DEFAULT '2026-2027';
ALTER TABLE grades ADD COLUMN IF NOT EXISTS academic_year TEXT DEFAULT '2026-2027';
ALTER TABLE lesson_plans ADD COLUMN IF NOT EXISTS academic_year TEXT DEFAULT '2026-2027';

